
<form [formGroup]="materialForm" (ngSubmit)="onSubmit()">

<!-- Barra sticky dentro del form -->
<div
  class="sticky top-0 z-40 bg-base-100/90 backdrop-blur border-b border-base-300 px-4 lg:px-8 py-3">
  <div class="flex items-center gap-3">
    <h1 class="flex-1 text-2xl lg:text-3xl font-bold truncate">
      @if ( material().name ) {
        {{ material().name }}
      } @else {
        Nuevo Material
      }
    </h1>

    <button class="btn btn-primary btn-lg" type="submit">
      @if (isLoading()) {
        <span class="loading loading-spinner loading-sm"></span>
        Guardando...
      } @else {
        Guardar
      }
    </button>
  </div>
</div>


<div class="grid grid-cols-1 px-4 lg:px-8 pt-10">

  <!-- Datos generales -->
  <div class="flex flex-col">

    <fieldset class="fieldset">
      <legend class="fieldset-legend">Nombre</legend>
      <input
        type="text"
        class="input input-bordered w-full"
        placeholder="Nombre"
        formControlName="name"
        [class.border-error]="formUtils.isValidField(materialForm, 'name')"
         />
        <form-error-label [control]="materialForm.get('name')!" fieldName="name" />
    </fieldset>

    <fieldset class="fieldset">
      <legend class="fieldset-legend">Slug</legend>
      <input
        type="text"
        placeholder="Slug"
        class="input input-bordered w-full"
        formControlName="slug"
        [class.border-error]="formUtils.isValidField(materialForm, 'slug')"
      />
      <form-error-label [control]="materialForm.get('slug')!" fieldName="slug" />
    </fieldset>


    <fieldset class="fieldset">
      <legend class="fieldset-legend">Descripción</legend>
      <textarea
        class="textarea textarea-bordered w-full"
        placeholder="Descripción"
        rows="6"
        formControlName="description"
        [class.border-error]="formUtils.isValidField(materialForm, 'description')"
      ></textarea>
      <form-error-label [control]="materialForm.get('description')!" fieldName="description" />
    </fieldset>


  </div>

</div>

</form>

@if (wasSaved()) {
  <div class="toast toast-top toast-center z-42">
    <div class="alert alert-success">
      <span>{{ successMessage() }}</span>
    </div>
  </div>
}
