<div class="card bg-base-100 rounded-none animate-fadeIn group" [routerLink]="['/producto', product().slug ]">
    <figure>
        <img [src]="product().images | pathImage " [alt]="product().title" class="transition-all duration-500 group-hover:scale-110 group-hover:opacity-80 cursor-pointer" />
    </figure>
    <div class="card-body">
        <h2 class="card-title text-xl md:text-2xl font-bold leading-none cursor-pointer hover:text-gray-700" [routerLink]="['/producto', product().slug ]">{{ product().title }}</h2>
        <p class="text-md leading-4">{{ product().description }}</p>
        <div class="card-actions mt-2">
            <button [routerLink]="['/producto', product().slug ]" routerLinkActive="router-link-active" class="btn btn-outline rounded-none hover:bg-base-200 text-xl">ver +</button>
        </div>
    </div>
</div>
