<section class="bg-base-300">
    <h2 class="text-center text-5xl pb-8 pt-20">Catálogos</h2>
    <div class="grid grid-cols-12 gap-4 items-center">
        <div class="col-span-12 lg:col-span-6 py-15">
            <img src="/assets/images/catalogos.png" alt="Catálogos" class="w-4/5 lg:w-3/5 place-self-center lg:place-self-end">
        </div>
        <div class="col-span-10 col-end-12 lg:col-span-4 lg:col-end-12 pb-15 lg:py-30 text-center lg:text-start">
            <h1 class="text-3xl pb-4">Mirá todos los catálogos</h1>
            <a [routerLink]="['/catalogos']" class="btn btn-outline btn-lg rounded-none px-20 text-2xl hover:bg-base-200">Ver todos</a>
        </div>
    </div>
</section>
