<div class="overflow-x-auto">
  <table class="table">

    <thead>
      <tr>
        <th class="text-primary">
            Nombre
        </th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (catalog of catalogs; track catalog.id) {
        <tr class="hover:bg-base-300">
          <td>
            <div class="flex items-center gap-3">
              <div class="avatar">
                <div class="mask mask-squircle h-12 w-12">
                  <img
                    [src]="catalog.image | pathImage: 'catalogos'"
                    [alt]="catalog.title" />
                </div>
              </div>
              <div>
                <a [routerLink]="['/admin/catalog', catalog.id]" class="font-bold hover:text-accent transition-colors duration-300">{{ catalog.title }}</a>
                <div class="text-sm opacity-50"></div>
              </div>
            </div>
          </td>
          <th>
            <a [routerLink]="['/admin/catalog', catalog.id]"  class="btn btn-success btn-xs">Editar</a>
          </th>
          <th>
            <button class="btn btn-error btn-xs" (click)="onDeleteCatalog(catalog.id)" >Eliminar</button>
          </th>
        </tr>
      }
    </tbody>

  </table>
</div>

